@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');



* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;

  /* cursor: none !important; */
   font-family: 'Poppins', sans-serif;
}


header {
  /* width: 50px; */
  height: 200px;
  position: absolute;
  top: 50%;
  left: 19%;
  margin: -25px 0 0 -25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  /* align-items: center; */
}

body {
 
  background-color: #1D1D1D;

}

button {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 3px solid #08FDD8;
  background: none;
  color: #08FDD8;
}

header>h1 {
 

}
header>h1> a {
  z-index: 2;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
 
}

.line{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
   z-index: 2;
  color: #08FDD8;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: left; */
}
 .line-2{
  margin-top: 1rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
   z-index: 2;
  color: #08FDD8;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: center; */
}
 .line-3{
  margin-top: 1rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
   z-index: 2;
  color: #08FDD8;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: center; */
} 
.line-4{
  margin-top: 1rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
   z-index: 2;
  color: #08FDD8;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: center; */
} 
.typing-animation{
  animation: animation 500ms steps(40) infinite normal, typing 1s steps(40) 1s normal both;
}

.typing-animation-2{
  animation: animation 500ms steps(40) infinite normal, typing-2 3s steps(40) 1s normal both;
}

 .typing-animation-3{
  animation: animation 500ms steps(40) infinite normal, typing-3 4s steps(40) 1s normal both;
}

.typing-animation-4{
  animation: animation 500ms steps(40) infinite normal, typing-4 5s steps(40) 1s normal both; 
}
@keyframes typing {
  from {
   width: 0;
  }

  to {
    width: 2em;
  }
}
@keyframes typing-2 {
  from {
   width: 0;
  }

  to {
    width: 12em;
  }
}
@keyframes typing-3 {
  from {
   width: 0;
  }

  to {
    width: 10em;
  }
}
@keyframes typing-4 {
  from {
   width: 0;
  }

  to {
    width: 18em;
  }
}







@keyframes animation {
  from{
    border-right-color:#08FDD8;
  }
  to{
    border-right-color:transparent;
  }
}
header>h1> a:hover {
  z-index: 2;
  color: #08FDD8;
  font-weight: bold;
  text-decoration: none;

 
}






menu {
  width: 9rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  lefT: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;

  -ms-flex-direction: column;
  flex-direction: column;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

menu>img {}

menu>nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

}

menu>nav>a{
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #909096;
  line-height: 3rem;
  border-bottom: 1px solid #282828;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
}

menu >nav > img {
  width: 90%;
}

.main-menu-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  z-index: -1;
}

nav a:hover{
  color: #08FDD8;
  background-color: rgba(0, 255, 255, 0.116) ;
}
.work {
  font-size: .8rem;
  position: relative;
  top: -1rem;
  color: white;

}

.name {
  font-size: .9rem;
  font-weight: bold;
  position: relative;
  top: -1rem;
  color: white;

}

.logo {
  color: red;
  font-size: 7rem;
  font-weight: bold;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.logo::before {
  content: "B";
  font-family: 'Lato', sans-serif;
  color: #08FDD8;
  position: absolute;
  z-index: -1;
  font-weight: bold;
  left: -7px
}


@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

section{
  
}

a > img {
  position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
}
a > img {
  animation: lightsOn 1s infinite alternate;
}

@keyframes lightsOn {

  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }

}
@keyframes filterGlow {

  from {
    filter: none;
  }

  to {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.9));
  }

}
 
body {
 
}

#myCanvas {
  left: 0;
  top: 0;

}
